<% provide(:title, t('general.title')) %>

<div class="container" style="margin-top: 15px;">
    <div class="row">

        <div class="well">
          <h3 style="margin-top: 0;">Filter</h3>
          <%= form_with url: root_path do |f| %>
            <table>
              <tr>
                <td><%= t('filter.source') %></td>
                <td><%= f.select(:with_source, ["show all records"]) %></td>
              </tr>
              <tr>
                <td style="padding-right: 15px;"><%= t('filter.created_after') %></td>
                <td><%= f.date_field(:with_created_at_gte, class: 'js-datepicker') %></td>
              </tr>
            </table>
            <div>
              <%= link_to(t('logs.reset_filter'), root_path) %>
            </div>
          <% end %>
        </div>

        <%= render(partial: 'pages/list', locals: { items: @items }) %>

    </div>
</div>